<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- MSCC feed requires an access token but should be ignored if not configured -->
    <add key="MSCC" value="https://microsoft.pkgs.visualstudio.com/DefaultCollection/_packaging/Universal.Store/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>