@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet AppInsightsJs
@inject live.asp.net.Services.CookieConsentService CookieConsentService

@if (CookieConsentService.IsConsentRequired(Context))
{
    var cookieComplianceMarkup = CookieConsentService.GetConsentMarkup(Context);

    <div>@Html.Raw(cookieComplianceMarkup.Markup)</div>
}