@using live.asp.net.ViewModels
@model HomeViewModel

@if (Model.IsLiveShowEmbedded)
{
<div class="embed-responsive embed-responsive-16by9 hangout-embed">
    <iframe class="embed-responsive-item" src="@Model.LiveShowEmbedUrl" allowfullscreen></iframe>
</div>
}
@Html.Raw(Model.LiveShowHtml)