@using System.Security.Principal

@if (User.Identity.IsAuthenticated)
{
    @User.Identity.Name 
    <a asp-controller="Account" asp-action="SignOut">Sign Out</a>
}

<environment names="Development,Staging">
    @if (!User.Identity.IsAuthenticated)
    {
        <a asp-controller="Account" asp-action="SignIn">Sign In</a>
    }
</environment>