@using live.asp.net.ViewModels
@model HomeViewModel
<div class="OnAir">
    <div class="row">
        <div class="col-md-9">
            <partial name="_HangoutEmbed" model="Model"></partial>
        </div>
        <div class="col-md-3 ScrollOverFlow" id="QuestionBar">
        </div>
    </div>
    @if (!String.IsNullOrEmpty(Context.Request.Cookies["UserName"]))
    {
        <div class="row">
            <div class="col-md-9">
                <partial name="_onAirChat"/>
            </div>
            <div class="col-md-3">
                <partial name="_onAirAskQuestion"/>
            </div>
        </div>
    }
    else
    {

    }
</div>
@if (String.IsNullOrEmpty(Context.Request.Cookies["UserName"])) { 
<div class="row">
    <form asp-controller="OnAir" asp-action="Join" method="POST" class="form-inline">
        <div class="form-group">

            <label class="col-md-3 control-label">Chat Handle</label>
            <div class="col-md-5">
                <input type="text" value="" name="UserName" class="form-control"/>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Join Conversation</button>
            </div>
        </div>
    </form>
</div>
}