body {
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI Light', 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
}

.jumbotron {
    background: #000 url(home-bg.jpg) top center repeat-x;
    background-size: 100%;
    color: #fff;
    min-height: 350px;
}

@media (min-width: 1000px) {
    .jumbotron {
        background-size: 1000px;
    }
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

a, a:hover {
    color: rgb(38, 124, 178);
}

.btn, .thumbnail, input[type='text'], input[type='url'], input[type='datetime'] {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

    .btn.btn-primary {
        background-color: #0054a3;
    }

.hangout-embed {
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .4);
    -moz-box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .4);
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .4);
    background: #212121;
}

    .hangout-embed * {
        background: #212121;
    }

.thumbnail .caption h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.admin-screen input {
    max-width: 400px;
}

.bottom-buffer {
    margin-bottom: 30px;
}

footer {
    margin-top: 60px;
}

    footer nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        footer nav ul > li {
            float: left;
            margin-right: 1em;
        }

.youtube-show > a > div {
    background: #000;
}

.youtube-show > a:hover img {
    opacity: 0.6;
}

    .youtube-show .show-date {
        font-size: 0.8em;
    }

/* Extra-Small devices (phones, 768px and below) */
@media (max-width: 768px) {
    .youtube-show {
        max-width: 480px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }

    .youtube-show {
        height: 360px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .youtube-show {
        height: 320px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .youtube-show {
        height: 360px;
    }
}
