/*csslint qualified-headings:false, unique-headings:false, known-properties:false, universal-selector:false*/

body {
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI Light', 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
}

.jumbotron {
    background: #000 url(home-bg.jpg) top center repeat-x;
    background-size: 920px;
    color: #fff;
    min-height: 350px;
}

@media (min-width: 920px) {
    .jumbotron {
        background-size: 100%;
    }
}

@media (min-width: 1440px) {
    .jumbotron {
        background-size: 1440px;
    }
}

h2 a, h2 a:hover, h2 a:focus, h2 a:active, h2 a:visited {
    color: #fff;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

a, a:hover {
    color: rgb(38, 124, 178);
}

.btn, .thumbnail, input[type='text'], input[type='url'], input[type='datetime'], .form-control, .label, .dropdown-menu {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

    .btn-primary {
        background-color: #0054a3;
    }

.dropdown-menu > li > a:hover {
    background-color: #0054a3;
    color: #fff;
}

.form-group .help-block {
    margin-left: -20px;
}

.click-to-show {
    cursor: pointer;
    font-style: italic;
    color: rgb(38, 124, 178);
}

.click-to-show-revealed {
    font-style: normal;
    color: initial;
}

.hangout-embed {
    margin-top: 30px;
    -webkit-box-shadow: 0 0 5px 5px rgba(255, 255, 255, .4);
    -moz-box-shadow: 0 0 5px 5px rgba(255, 255, 255, .4);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, .4);
    background: #212121;
}

    .hangout-embed * {
        background: #212121;
    }

    .hangout-embed img {
        cursor:pointer;
    }

    .hangout-embed img:hover {
        opacity:.6;
    }

.thumbnail .caption h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.html-input {
    font-family: Consolas, monospace
}

.bottom-buffer {
    margin-bottom: 30px;
}

footer {
    margin-top: 60px;
}

    footer nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        footer nav ul > li {
            float: left;
            margin-right: 1em;
        }

.youtube-show > a > div {
    background: #000;
}

.youtube-show > a:hover img {
    opacity: 0.6;
}

    .youtube-show .show-date {
        font-size: 0.8em;
    }

.label-new-show {
    font-size: 0.6em;
}

/* Extra-Small devices (phones, 768px and below) */
@media (max-width: 768px) {
    .youtube-show {
        max-width: 480px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .youtube-show {
        height: 360px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .youtube-show {
        height: 320px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .youtube-show {
        height: 360px;
    }
}
