@using live.asp.net.ViewModels
@using live.asp.net.Models
@model HomeViewModel

@{
    ViewData["Title"] = "ASP.NET Community Standup";
}

@section PreContent {
    <div class="jumbotron">
        <div class="container">
            <img src="~/images/asplogo-new.png" />
            <h1>
                <span class="hidden">ASP.NET </span>Community Standup
                @if (Model.IsOnAir)
                {
                    <span class="label label-danger">ON AIR</span>
                }
            </h1>
            @if (Model.IsOnAir)
            {
                <partial name="_HangoutEmbed" model="Model"></partial>
            }
        </div>
    </div>
}

@if (Model.ShowPreviousShows)
{
    <h2>Previous Shows</h2>

    <div class="row">
        @foreach (var show in Model.PreviousShows)
        {
            <partial name="_YouTubeShow" model="show"></partial>
        }
    </div>

    @if (Model.ShowMoreShowsUrl)
    {
    <div class="row">
        <nav>
            <ul class="nav nav-pills">
                <li roles="presentation">
                    <a href="@Model.MoreShowsUrl">More episodes</a>
                </li>
            </ul>
        </nav>
    </div>
    }
}
