
@{
    var claims = Context.User.Claims;
}

<ul>
    @foreach (var claim in claims)
    {
        <li>Issuer: @claim.Issuer</li>
        <li>Type: @claim.Type</li>
        <li>TypeName: @claim. </li>
        <li>Value: @claim.Value</li>
    }
</ul>